body {
	background: var(--bg);
	color: var(--text);
	font-family: "sora";
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
}

h1, h2, h3, h4 {
	color: var(--bold);
	margin: 0;
}



/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

:root {
	--bg: #fff;
	--text: #888;
	--bold: #000;
	--cool: #1e90ff;
	--hover: hsl(0, 0%, 95%);
}
  

.dark {
	--bg: linear-gradient(to bottom, hsl(0, 0%, 0%), hsl(0, 0%, 10%));
	--cool: #ff1493;
	--bold: #fff;
	--hover: #222222;
}

/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fadeInOut 2s;
	opacity: 0;
    width: 25%;

} #loading svg {
	fill: var(--bold);
    width: 100%;
}   

@keyframes fadeInOut {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}



/* */

#content {
	animation: fadeIn 3s forwards;
    display: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */


/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

header {
	height: 15vh;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	padding: 0 3rem ;
	justify-content: space-between;
}  



/* */

.active {
	color: var(--cool);
} 

.active:hover {
    color: var(--cool);
	cursor: default;
	padding: 0;
}



/*  */

.side {
	display: flex;
	align-items: center;
	gap: 2rem;
}



/*  */

nav {
	display: flex;
	gap: 15px;
}

nav a {
	text-decoration: none;
	transition: padding 0.5s ease-in-out;
    color: var(--text);
} 

nav a:hover {
	color: var(--bold);
	padding-left: 1rem;
}



/*  */

.logo {
	
	display: flex;
	gap: 0.75rem;
	align-items: center;
	transition: opacity 0.25s ease-in-out;

} .logo h1 {
	
	font-size: 1.5rem;
	font-weight: 800;
	text-decoration: none;
	color: var(--bold);

} .logo svg {

	fill: var(--bold);
	width: 32px;
}



/*  */

.media {
	display: flex;
	gap: 15px;
	color: var(--text);

} .media a {

	font-size: 18px;
	color: var(--bold);
	transition: opacity 0.25s ease-in-out;

} .media:hover > :not(:hover) {

  opacity: 0.25;
}

/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

@media only screen and (max-width: 724px) {
	
	.loading {
        width: 75%;
    }
	
	.media {
		display: none;
	}

	.side {
		flex-direction: column;
		gap: 2rem;
	}

	nav {
		gap: 30px;
	}

	nav a{
		font-size: 15px;
	}

	header {
		justify-content: center;
	}

	nav span {
		display: none;
	}
}